
<%= erb :nav %>

<div class="container">
  <div class="jumbotron">
    <h3>New Entry</h3>
    <form action="<%= @action %>" method="post">
      <div class="form-group">
        <label for="title"> Title </label>
        <input class="form-control" type="text" name="title" id="title" value="<%= @title %>">
        <label for="body"> Entry </label>
        <textarea class="form-control" name="body" id="body"><%= @body %></textarea>
        <input class="btn btn-success float-right" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
