<%= erb :nav %>

<div class="container">
  <h3><%= @entry.title %></h3>
  <p><%= @entry.body %></p>
  <a class="btn btn-primary float-right" href="/update-entry?id=<%= @entry.id %>">Update</a>
</div>
