<%= erb :nav %>

<form action="/register_user" method="post">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-conrtol" type="text" name="first_name" id="first_name" required>
    <label for="last_name">Last Name</label>
    <input class="form-conrtol" type="text" name="last_name" id="last_name" required>
    <label for="eamil">Email</label>
    <input class="form-conrtol" type="email" name="email" id="email" required>
    <input class="form-conrtol" type="submit" value="Register">
  </div>
</form>
